- content_for :body_class do
  main-bg-yellow

%section.mod-hero
  %h1 Connecting businesses, communities and the tech talent pipeline

  %p.actions
    = link_to 'Learn more', '/mockup/learnmore', class: 'button'
    = link_to 'Sign up', '/mockup/signup', class: 'button'

%section.mod-stories.layout-wrap
  .story
    %h1 How LaShana did it

    .embed-container
      %iframe{src: 'https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0', frameborder: 0}

    %p= link_to 'More stories from people who’ve been impacted by TechHire', '#'

  .story
    %h1 How Kickstarter did it

    .embed-container
      %iframe{src: 'https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0', frameborder: 0}

    %p= link_to 'More stories from businesses who’ve been impacted by TechHire', '#'
