- content_for :body_class do
  main-bg-yellow

%section.mod-hero
  %h1 Connecting businesses, communities and the tech talent pipeline

  %p.actions
    = link_to 'Learn more', '/mockup/learnmore', class: 'button'
    = link_to 'Sign up', '/mockup/signup', class: 'button'
