%clearfix {
  *display: inline-block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%mask-section-bottom {
  mask: inline("mask_section_bottom.svg") no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: bottom center;
}
