$green: #327683;
$red: #e30a33;
$yellow: #f8efe2;
$blue: #16363a;
$gray: #7f7f7f;

$font-size: 18px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-family: "Open Sans", sans-serif;
$font-family-alt: "PT Serif", sans-serif;
