html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  background: $green;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.layout-wrap {
  @extend %clearfix;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
}

.layout-main {
  @extend %clearfix;
  padding-bottom: 50px;
  background: #fff;

  .main-bg-yellow & {
    background: $yellow;
  }
}

.embed-container {
  max-width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.layout-50-50 {
  @extend %clearfix;
  margin: 30px 0;

  .col {
    width: 48.935%;
    float: left;

    &:last-child {
      float: right;
      margin-bottom: 0;
    }

    @include max-width(700px) {
      width: 100%;
      float: none;
      margin-bottom: 30px;
    }
  }
}
