@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600|PT+Serif:400,700);

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-light;
  text-size-adjust: 100%;
  color: #000;
}

p {
  margin-bottom: 21.6px;
  line-height: 1.2;
}
