.mod-header {
  color: #fff;
  background: $header-footer-bg-color;

  h1 {
    width: 160px;
    height: 47px;
    background: inline("logo.png");
    background-size: 100%;
    @include hide-text;

    a {
      height: 47px;
      display: block;
    }
  }

}
