.button {
  display: inline-block;
  padding: 0 18px;
  font-weight: $font-weight-normal;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
  background: $red;
  border: solid 2px $red;
  border-radius: 20px;

  @include hocus($keyboard-only: true) {
    border-color: $green;
    box-shadow: 0 0 15px rgba($green, .8);
  }
}

.button-center {
  display: block;
  margin: 0;
  text-align: center;
}
