.button {
  display: inline-block;
  padding: 4px 18px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal !important;
  line-height: 28px;
  text-align: center;
  text-decoration: none !important;
  color: #fff !important;
  background: $red;
  border: solid 2px $red;
  border-radius: 20px;

  @include hocus($keyboard-only: true) {
    border-color: $green;
    box-shadow: 0 0 15px rgba($green, .8);
  }
}

.button-center {
  display: block;
  margin: 0;
  text-align: center;
}
